.app-container{
    max-width: 350px;
    outline: 2px solid rgb(78, 78, 245);
    margin-top: 8px;
    border-radius: 8px;
    padding: 1rem;
}

.hr {
    margin-top: 1rem;
}
/*
* {
    outline: 1px solid red;
}
*/
.taskContainer{
    display: flex;
    gap: 1rem;
}
.listContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}